*{
	background-color: white !important;
}

#copyright{
	text-align: center;
}

#slideshow{
	height: 570px;
}

#slideshow div{
	height: 500px;
	width: auto;
	position: absolute;
	left: 25%;
	margin-top: 10px;
}

div img{
	height: 500px;
}

@media all and (max-width: 576px){
	.hamburger{
		display: none;
	}

	.mobileNav{
		display: block;

	}

	#header{
		font-size: 48px;
	}

	#slideshow div{
		height: 20%;
		width: auto;
		position: absolute;
		left: 0;
	}

	#slideshow{
		height: 350px;
	}

	div img{
		height: 300px;
		padding: 0 1% 0 1%;
	}

}