.book-title{
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding-right: 300px;
}

img{
	height: 280px;
	width: auto;
	margin: 5px 10px 5px 0px;
}

img, .bookinfo{
	display: inline-block;
}

.books{
	border-top: 6px solid black;
	padding-left: 25px;
}

li{
	list-style: circle;
}

.booksection{
	margin-top: 12%;
}

.sum{
	font-size: 16px;
	font-weight: bold;
	text-transform: underline;
	text-align: center;
}

#back1, #back2, #back3{
	display: none;
	height: 300px;
}

.synopsis{
	padding: 0 120px 0 120px;
}